.App {
    text-align: center;
}

.btnSubmit {
    margin-left: 30px;
}

#inputText {
    width: 300px;
}

#todo-item {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.todo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: rgb(226, 226, 226);
    margin-top: 60px;
}

.task {
    margin-top: 20px;
}

#checkbox-btn {
    margin-top: 28px;
}

#delete-btn {
    margin-left: 115px;
    margin-top: 24px;
}